registry=https://registry.npmjs.org/
strict-ssl=false

prefer-offline=true
fetch-retries=12
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=300000
fetch-timeout=600000
network-concurrency=2
child-concurrency=1

frozen-lockfile=false
ignore-scripts=true
